{% extends 'actions_base.html' %}

{% block title%}
  Welcome!
{% endblock %}

{% block prev_turn %}
<p>
  Final Bots is a simple client-server text RPG for a single player.
</p>
{% endblock %}

{%block explanation%}
  <pre>
                  .-"      "-.
                 /            \
                |              |
                |,  .-.  .-.  ,|
                | )(__/  \__)( |
                |/     /\     \|
      (@_       (_     ^^     _)
 _     ) \_______\__|IIIIII|__/__________________________
(_)@8@8{}<________|-\IIIIII/-|___________________________>
       )_/        \          /
      (@           `--------`
</pre>
{% endblock %}

{% block options %}
<section>
  <h3>Ready to Start?</h3>
  <form target="_self" method="POST">
    <input type="submit">
  </form> 
</section>
{% endblock %}

