{% extends 'actions_base.html' %}

{% block title%}
  Congratulations!
{% endblock %}

{% block explanation%}
<p>
  <b>Congratulations!</b>
  <pre>
                                            ..
                                     ,o""""o
                                  ,o$"     o
                               ,o$$$
                             ,o$$$'
                           ,o$"o$'
                         ,o$$"$"'
                      ,o$"$o"$"'
                   ,oo$"$"$"$"$$`                      ,oooo$$$$$$$$oooooo.
                ,o$$$"$"$"$"$"$"o$`..             ,$o$"$$"$"'            `oo.o
             ,oo$$$o"$"$"$"$  $"$$$"$`o        ,o$$"o$$$o$'                 `o
          ,o$"$"$o$"$"$"$  $"$$o$$o $$o`o   ,$$$$$o$"$$o'                    $
        ,o"$$"'  `$"$o$" o$o$o"  $$$o$o$oo"$$$o$"$$"$o"'                     $
     ,o$"'        `"$ "$$o$$" $"$o$o$$"$o$$o$o$o"$"$"`""o                   '
   ,o$'          o$ `"$"$o "$o$$o$$$"$$$o"$o$$o"$$$    `$$
  ,o'           (     `" o$"$o"$o$$$"$o$"$"$o$"$$"$ooo|  ``
 $"$             `    (   `"o$$"$o$o$$ "o$o"   $o$o"$"$    )
(  `                   `    `o$"$$o$" "o$$     "o /|"$o"
 `                           `$o$$$$"" o$      "o$\|"$o'
                              `$o"$"$ $ "       `"$"$o$
                               "$$"$$ "oo         ,$""$
                               $"$o$$""o"          ,o$"$
                               $$"$$"$ "o           `,",
                     ,oo$oo$$$$$$"$o$$$ ""o
                  ,o$$"o"o$o$$o$$$"$o$$oo"oo
                ,$"oo"$$$$o$$$$"$$$o"o$o"o"$o o
               ,$$$""$$o$,      `$$$$"$$$o""$o $o
               $o$o$"$,          `$o$"$o$o"$$o$ $$o
              $$$o"o$$           ,$$$$o$$o"$"$$ $o$$oo      ,
              "$o$$$ $`.        ,"$$o$"o$""$$$$ `"$o$$oo    `o
              `$o$o$"$o$o`.  ,.$$"$o$$"$$"o$$$$   `$o$$ooo    $$ooooooo
                `$o$"$o"$"$$"$$"$"$$o$$o"$$o"        `"$o$o            `"o
                   `$$"$"$o$$o$"$$"$ $$$  $ "           `$"$o            `o
                      `$$"o$o"$o"$o$ "  o $$$o            `$$"o          ,$
                         (" ""$"""     o"" "o$o             `$$ooo     ,o$$
                              $$"""o   (   "$o$$$"o            `$o$$$o$"$'
                                ) ) )           )  ) )            ` "'
  </pre>

</p>
<p>
  You were able to defeat the beast and escape with your life! Do you dare face another of the eternals?
</p>

{% endblock %}

{% block options %}
<section>
  <h3>Play Again?</h3>
  <form target="_self" method="POST">
    <input type="submit">
  </form> 
</section>
{% endblock %}
