<!doctype html>
<head>
    <title>
      {% block title %}
      {% endblock %} 
    </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
</head>

<body>
  <section>
    <h1 id='title'>Final Bots</h1>
    {% block explanation%}{% endblock %}
  </section>

  <section>
    {% block boss_appearance %}
    {% endblock %}
    
    {% block class_options %}
    {% endblock %}
  <section>
    {% block health_table%}
    {% endblock %}
  </section>

  <section>
    {% block prev_turn%}
    {% endblock %}
  </section>

  {% block options %}{% endblock %}
</body>

</html>